.phoneBoоk{
    width: 100%;
    height: 800vh;
    background-color: silver;
}
.header{
    padding: 20px 0;
    font-size: 36px;
    text-align: center;
    border-bottom: 3px solid darkgray;
}
.contactsList{
    padding: 50px;
    border-radius: 50px;
    min-height: 800px;
}
.searchCont{
    display: flex;
    justify-content: center;
}
#inputSearch{
    border: 2px solid grey;
    background-color: rgb(243, 225, 202);
    line-height: 26px;
    width: 400px;
    border-radius: 10px;
    padding: 5px 10px;
}

.contactsList>div.hide{
    display: none;
}
.blur{
    filter: blur(2px);
}
.contact{
    display: flex;
    justify-content: space-between;
    background-color: khaki;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 20px;
}
.addContact{
    display: flex;
    justify-content: center;
    padding: 20px;
    border-bottom:3px solid darkgray;
    margin-bottom: 30px;
}
.createContact{
    margin: 0 auto;
    background-color: grey;
    padding: 10px 15px;
    border-radius: 10px;
}
.form{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
   
}
.newContact, .editContact{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    min-height: 300px;
    background-color:rgb(26, 57, 107);
    border-radius: 40px;
    padding: 30px;
}

.border{
    margin-top: 20px;
    border-bottom: 1px solid black;
    padding-left: 10px;

}
.border>input{
    width: 200px;
}
.newContact>div>span ,.editContact>div>span{
    display: inline-block;
    width: 130px;
    font-size: 17px;
}  
.newContact>div>input, .editContact>div>input{
    border: 1px solid yellow;
    margin-bottom: 3px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: thistle;
}

.submit, .save{
    display: flex;
    justify-content: center;
    margin-top: 15px;

}
.addCont, .saveCont{
    padding: 10px 15px;
    background-color: yellowgreen;
    font-size: 25px;
    border-radius: 15px;
}
.closeForm{
    display: flex;
    justify-content: flex-end;
}
.close{
    padding: 5px 10px;
    background-color: crimson;
    border-radius: 15px;
}
.nameContact{
    width: 150px;
    /* font-size: 24px; */
    border-right: 2px solid grey;
}
.contactInfo{
    width: 650px;
    border-right: 2px solid grey;
    display: flex;
    flex-grow: 0.85;
}
.emailContact{
    flex-grow:0.9;
}
.contactInfo > div{
    width: 27%;
}
.deleteBtn,.editBtn{
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 18px;
}

.deleteBtn{
    background-color: red;
    margin-right: 7px;
}
.deleteBtn:hover, .editBtn:hover{
    box-shadow: 0 0 5px 3px rgb(43, 46, 42);
}
.editBtn{
    background-color: royalblue;
}

.messageBirthDay{
    position: absolute;
    display: inline-flex;
    justify-content: space-between;
    top: 0;
    right: 0;
    width: 250px;
    min-height: 80px;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 30px;
    margin-right: 50px;
    background-color: rgb(85, 107, 105);
}

.textMess{
    display: inline-block;
    width: 200px;
}
.redX{
    display: inline-block;
    height: 25px;
    width: 25px;
    padding-left: 5px;
    padding-top: 2px;
    border-radius: 50%;
    background-color: tomato;
}